<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
    <body>
        <p>Server ip:
            @Request.ServerVariables["LOCAL_ADDR"]
            |
            @Html.ActionLink("Home", "Index", "Home")
            |
            @Html.ActionLink("List Books", "Index", "Books")
            |
            @Html.ActionLink("Add Book", "Add", "Books")
        </p>
        @RenderBody()
        <hr />
        <p>
            Version: @System.Configuration.ConfigurationManager.AppSettings["SiteVersion"]
        </p>
    </body>
</html>
